# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# macOS / system files
.DS_Store
__MACOSX/
Thumbs.db

# IDE / editor files
.vscode/
.idea/

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Optional artifacts
*.joblib